@font-face {
    font-family: 'Cyberpunks';
    src: url(/assets/font/Cyberpunks.woff) format("woff");
}


body{
margin: 0; 
color: white;
font-family: 'Cyberpunks';
/* overflow-y: hidden; */
overflow-x: hidden;
}
video
{
    object-fit: cover;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
    height: 100%;
    width: 100%;
}
.img_header img{
    width: 100vw;
}

.img_footer img{
    width: 100vw;
    padding-top: 10vh;
}
h2{
    font-family: 'Cyberpunks';
}


.logo{
    display: flex;
    justify-content: center;
}

.choose{
    display: flex;
    justify-content: center;
    letter-spacing: .3em;
}

.perso1{
    display: flex;
    justify-content: center;
    flex-direction: column; 
}

.img_perso{
    display: flex;
    flex : row;
    justify-content: space-evenly;
}

.name{
    display: flex;
    justify-content: center;
    font-size: 32px;
    margin : 0;
    letter-spacing: .3em;
}

.perso1:hover{
    color : #02D8F3;
    scale: 1.1;
    transition: 0.2s ease-in-out;

}

.perso2:hover{
    color : #02D8F3;
    scale: 1.1;
    transition: 0.2s ease-in-out;

}
.music{
    display: flex;
    justify-content: center;
}

audio::-webkit-media-controls-panel {
    background-color: #FCEE0A;
}

audio::-webkit-media-controls-current-time-display {
    font-family: 'Cyberpunks', Arial, Helvetica, sans-serif;
 }
 
 audio::-webkit-media-controls-time-remaining-display {
     font-family: 'Cyberpunks', Arial, Helvetica, sans-serif;;
 }

::-webkit-scrollbar {
    width: .7vw;
    height: 3.3vh;
}

::-webkit-scrollbar-track {
    background-color: black;
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

::-webkit-scrollbar-thumb {
    background-color: #02D8F3;
}
